.signin-container
  .signin-form
    .signin-form-body
      display flex
      flex-direction column
      ngb-alert
        text-align center
    .signin-form-buttons
      display flex
      flex-direction row
      justify-content flex-start
      align-items center
