:host
  flex-grow 2
  background white
  .google-files
    background #efefef
    padding 20px 30px 0 30px
    height 100%
    //border-radius 10px
    //box-shadow 0 0 20px rgba(0,0,0,0.5)
    files
      width 100%