:host
  box-shadow 0 0 10px rgba(0,0,0,0.5)
  z-index 100
  width 15%
  min-width 200px
nav
  height 100%
  width 100%
  ul
    li
      margin-top 25px
      &.nav-item
        button
          width 100%
          text-align left
          text-decoration none
          color #45695d
        &:hover
          background #e3dddd
          cursor pointer
        &.active-sidebar-item
          background #e3dddd
          box-shadow inset 1px 1px 1px 1px rgba(0, 0, 0, 0.19)

hr
  margin 20px 5px