:host
  box-shadow 0 0 10px rgba(0,0,0,0.5)
  z-index 100
  width 15%
  min-width 200px
nav
  padding 20px 0 10px 0px
  height 100%
  width 100%
  ul
    li
      &:hover
        background #e3dddd
        cursor pointer
      &.active-sidebar-item
        background #e3dddd
        box-shadow: inset 1px 1px 1px 1px rgba(0, 0, 0, 0.19);

      button
        width 100%
        text-align left
        text-decoration none
        color: #45695d;

hr
  margin 20px 5px