.signup-container
  h1
    text-align center
  .signup-form
    .signup-form-body
      display flex
      flex-direction column
      ngb-alert
        text-align center
    .signup-form-buttons
      display flex
      flex-direction row
      justify-content flex-start
      align-items center
