.ng-valid[required], .ng-valid.required
  border-left 5px solid #42A948;

.ng-invalid:not(form)
  border-left: 5px solid #a94442;

.modal-auth-container
  margin-top 10%
  font-family 'Open Sans'
  font-size 14px
  display flex
  flex-direction column
  justify-content center
  align-items stretch
  background white
  border-radius 10px
  padding 30px
  width 500px
  box-sizing border-box
  box-shadow 0 0 40px rgba(0,0,0,0.5)
  h1, h2
    color #214c71
    text-align center
