body
  background-image  inline-url("./background.svg", "utf8")
  height 100%
  position absolute
  width 100%

div, h1, h2, h3, h4, h5, a, p, span, input, button
  font-family 'Open Sans'

.btn-link
  cursor pointer

.modal
  z-index 5000