h2
  margin-bottom 30px
.storages
  display flex
  flex-direction row
  justify-content center
  align-items center
  .storage
    width 100px
    height 100px
    background-size contain
    background-repeat no-repeat
    cursor pointer
    &.google-logo
      background-image inline-url("./google.svg","utf8")
